body{
  font-family: 'Roboto Condensed',sans-serif;
  background-color: #c0dfd9;
}

h1{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 65px;
  margin: 165px 0 10px 0;
}

.character{
  display: inline-block;
  padding: 10px;
  font-size: 60px;
  color: #b3c2bf;
  margin: 8px 6px;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  font-weight: bolder;
}

.container{
  text-align: center;
}

.footer{
  width: 100%;
  position: fixed;
  bottom: 30px;
  text-align: center;
  color: #b3c2bf;
}

.footer h2{
  margin: 10px;
  font-size: 18px;
}

.matched{
  color: white;
  background-color: #6ed3cf !important;
}

.noMatch{
  color: white;
  background-color: #e05038 !important;
}

#score{
  margin-right: 10px;
}

.scoringSystem{
  margin-top: 10px;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
}

.scrambled{
  background-color: #e9ece5;
}

.social-buttons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 35px;
  color: #b3c2bf;
  background-color: #fff;
}

.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active{
  background-color: #e9ece5;
}

span{
  margin: 0 10px;
}

.unscrambled{
  background-color: #fff;
}