body{
	font-family: 'Roboto Condensed',sans-serif;
	background-color: #c0dfd9;
}

h1{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 50px;
	margin-top: 150px;
}


.container{
	text-align: center;
}

.character{
	display: inline-block;
	padding: 10px;
	font-size: 35px;
	color: #b3c2bf;
	margin: 8px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

.footer h2{
	margin: 10px;
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 30px;
	text-align: center;
	color: #b3c2bf;
}

.notSelected{
	background-color: #e9ece5;
}

.selected{
	background-color: #fff;
}

.social-buttons a {
	display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 35px;
  color: #b3c2bf;
  background-color: #fff;
}

.social-buttons a:hover,
.social-buttons a:focus,
.social-buttons a:active {
  background-color: #e9ece5;
}