<h1>Scramble</h1>
<div class="container" keypress-events keydown-events>
	<div class="character selected" ng-repeat="selectedChar in selectedChars track by $index">{{ selectedChar }}</div>
	<div class="character notSelected" ng-repeat="remainingChar in remainingChars track by $index">{{ remainingChar }}</div>
</div>
<div class="footer">
	<h2>Made with <i class="fa fa-heart"></i> by Stacy</h2>
	<div class="social-buttons">
		<a href="https://github.com/stacyhuang"><i class="fa fa-github"></i></a>
		<a href="https://www.linkedin.com/in/stacyhuang"><i class="fa fa-linkedin"></i></a>
	</div>
	</ul>
</div>