<h1>Scramble</h1>
<div class="container" keypress-events keydown-events>
  <div class="character unscrambled" ng-class="{'matched': matched, 'noMatch': noMatch}" ng-repeat="character in unscrambled track by $index">{{ character }}</div>
  <div class="character scrambled" ng-repeat="character in scrambled track by $index">{{ character }}</div>
  <div class="scoringSystem">
    <span id="score">Score: {{ score }}</span>
    <i class="fa fa-star"></i>
    <span id="highScore">High Score: {{ highScore }}</span>
    <i class="fa fa-star"></i>
    <span id="strike">Streak: {{ streak }}</span>
  </div>
  <button class="hintBtn" ng-Click="getHint()">Hint: Next letter</button>
  <button class="definitionBtn" ng-click="getDefinition()">Hint: Definition</button>
  <div ng-show="showDefinition" class="definition"><i class="fa fa-quote-left"></i>  {{ definition }}</div>
</div>
<div class="footer">
  <h2>Made with <i class="fa fa-heart"></i> by Stacy Huang</h2>
  <div class="social-buttons">
    <a href="https://github.com/stacyhuang"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/stacyhuang"><i class="fa fa-linkedin"></i></a>
  </div>
  </ul>
</div>